[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/schoolboy-ju
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/schoolboy-ju
	label-Verified = -1..+1 group user/schoolboy-ju
	push = group user/schoolboy-ju
	read = group user/schoolboy-ju
	rebase = group user/schoolboy-ju
	removeReviewer = group user/schoolboy-ju
	submit = group user/schoolboy-ju
[access "refs/heads/*"]
	create = group user/schoolboy-ju
	push = +force group user/schoolboy-ju
	pushMerge = group user/schoolboy-ju
	read = group user/schoolboy-ju
[access "refs/tags/*"]
	push = group user/schoolboy-ju
	push = +force group user/schoolboy-ju
